{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
<div class="main">
    <br>
    <h2 style="text-align: center;">Aquarius</h2>
    <img src="{% static 'zodiacsing/imagen/aquarius1.jpeg' %}" width="100%" alt="aquarius-imagen">
    <div>
        <p> Despite the word "aqua" in its name, Aquarius is actually the last air sign of the zodiac. Aquarius is
            represented
            by the water bearer, the mystical healer who bestows water, or life, upon the land. Accordingly, Aquarius is
            the
            most humanitarian astrological sign. These revolutionary thinkers fervently support “power to the people,”
            aspiring
            to change the world through radical social progress. Every Aquarian is a rebel at heart: These air signs
            despise
            authority and anything that represents conventionality. Free-spirited and eccentric, they can often be
            identified by
            their offbeat fashion sensibilities, unusual hobbies, and nonconformist attitude.</p>

        <p>Aquarius is ruled by Uranus, the planet that governs innovation, technology, and surprising events. Uranus
            perfectly
            mirrors Aquarius's distinctive attitude, complementing the nontraditional nature of these visionary air
            signs.
            Aquarians are big thinkers, but mustn't forget their immediate surroundings. These water bearers can become
            so
            focused on implementing widespread reform that they neglect their family and friends, gaining a reputation
            for being
            aloof and distant in relationships. Aquarians should remember that progress always starts on a micro level
            and
            advocate empathy and compassion wherever possible.
        </p>

        <p>Aquarians also need plenty of space and time on their own to reflect, form ideas, and plan their role in the
            revolution. Ultimately, freedom is of the utmost importance for Aquarians, who view challenges to their
            independence
            as power-hungry attempts to control them. To win an Aquarian's trust, don't try to reign in their quirks or
            keep
            them from flying their freak flag high — Aquarius thrives on shock value.</p>

    </div>
</div>

{% endblock %}