{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
<div class="main">

    <h2 style="text-align: center;">Aries</h2>
    <img src="{% static 'zodiacsing/imagen/aries.png' %}" width="100%" alt="aries-imagen">
    <div>
        <p>Aries loves to be number one, so it’s no surprise that these audacious rams are the first sign of
            the zodiac. Bold and ambitious, Aries dives headfirst into even the most challenging situations
            (which is appropriate, since the body part associated with Aries is the head). Like their fellow
            fire signs, Leo and Sagittarius, Aries is a passionate, motivated, and confident leader who
            builds community with their cheerful disposition and relentless determination. Uncomplicated and
            direct in their approach, they often get frustrated by exhaustive details and unnecessary
            nuances. They like things quick and dirty, a temperament also reflected in their sexual
            proclivities.</p>

        <p>Aries is a cardinal sign that kicks off not only the spring season but also the entire zodiac
            wheel. Astrologers believe that each sign learns the lessons absorbed by its preceding signs,
            both joyful and painful. In the case of Aries, however, there is no inherited wisdom: Aries
            leads with blind optimism, barreling through life with an electric joie de vivre that perfectly
            complements their distinctive impulsivity.</p>

        <p>These fire signs think after they leap, which often results in lessons learned the hard way.
            Aries represents the singular spirit (while Aries’s opposite sign, Libra, symbolizes
            partnership). These rams adhere to an “every person for themselves” philosophy. While this
            self-determination can be inspiring, Aries needs to watch out for selfish tendencies.</p>
    </div>
</div>
{% endblock %}