{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}

            <div class="main">
                <br>
                <h2 style="text-align: center;">Cancer</h2>
                <img src="{% static 'zodiacsing/imagen/cancer.jpeg' %}" width="100%" alt="cancer-imagen">
                <div>
                    <p> Cancer is a cardinal water sign. Represented by the crab, this oceanic crustacean seamlessly
                        weaves between
                        the sea and shore, representing Cancer’s ability to exist in both emotional and material realms.
                        Cancers are
                        highly intuitive and their psychic abilities manifest in tangible spaces: For instance, Cancers
                        can
                        effortlessly pick up the energies in a room. These crabs are highly sensitive to their
                        environments, as well
                        as extremely self-protective. Much like their celestial spirit animal, Cancers are shielded by
                        hard,
                        external shells. At first, these crabs may be perceived as cold or distant. With time, though,
                        Cancers
                        reveal their gentle nature, genuine compassion, and mystical capabilities. Just don't be
                        surprised if it
                        takes a while to get to know them.</p>

                    <p>Cancer is ruled by the moon, the celestial body that represents comfort, self-care, and maternal
                        energies.
                        Accordingly, Cancers tend to be domestically oriented. They love to create cozy, safe spaces
                        that serve as
                        their personal sanctuaries, then spend lots of time in them. Cancers care deeply about their
                        families and
                        are quick to adopt caregiver roles. But these crabs must be careful: When Cancers invest in
                        someone
                        emotionally, they risk blurring the line between attentive nurturing and controlling behavior.
                    </p>

                    <p>Cancers attract friends and lovers through their loyalty, commitment, and emotional depth. These
                        crustaceans
                        make excellent hosts and enjoy entertaining with comfort food and free-flowing libations.
                        (Cancer rules the
                        stomach, so there’s nothing these crabs love more than a home-cooked meal.) If you're not a fan
                        of Cancer’s
                        attachment to the home, that may be a bit of a problem. Though these celestial crabs avoid
                        direct conflict
                        by walking at an angle, they can inflict a harsh pinch with their distinctive brand of
                        passive-aggressiveness. It may be difficult to convince a Cancer to talk openly about what's
                        bothering them,
                        but if you can do it without making them feel threatened, you'll build long-lasting trust.</p>

                </div>
            </div>
{% endblock %}
