{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Capricorn</h2>
                <img src="{% static 'zodiacsing/imagen/capricorn1.jpeg' %}" width="100%" alt="capricorn-imagen">
                <div>
                    <p>
                        The last earth sign of the zodiac, Capricorn is represented by the sea goat, a mythological creature with the
                        body of a goat and tail of a fish. Accordingly, Capricorns are skilled at navigating both the material and
                        emotional realms. They scale the steepest mountains — Capricorn rules the knees, making it easier for this sign
                        to climb — while simultaneously exploring their psychic strengths. Capricorns tap into their inner fortitude to
                        overcome whatever stands between them and their long-term goals and they don’t let anything distract them from
                        getting ahead. Because of their unwavering focus, however, they are often perceived as cold and unemotional. Sea
                        goats must remember that not every success in life can be featured on a résumé and that compassion is as
                        important as any professional advancement.
                    </p>
                
                    <p>
                        Capricorn is ruled by taskmaster Saturn, the stoic planet that governs time and restrictions. Saturn's transits
                        always teach us tough lessons and Capricorn is no stranger to growing pains. With Saturn guiding the Capricorn
                        constellation, many sea goats were exposed to difficulties at an early age.
                    </p>
                
                    <p>
                        Interestingly, Capricorns are said to age backward: Having already endured hardships, Capricorns become
                        increasingly youthful, optimistic, and playful as they mature. Indeed, inside every earnest Capricorn is a
                        mischievous troublemaker (in tarot, Capricorn is symbolized by the "devil" card). Though this earth sign may
                        seem a bit conservative and restrained at first, Capricorn’s closest friends and lovers know that these sea
                        goats love to party.
                    </p>
                </div>
            </div>
{% endblock %}
