{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Gemini</h2>
                <img src="{% static 'zodiacsing/imagen/gemini.png' %}" width="100%" alt="gemini-imagen">
                <div>
                    <p>
                        Have you ever been so busy that you wished you could clone yourself just to get everything done? That’s the
                        Gemini experience in a nutshell. Appropriately symbolized by the celestial twins, this air sign was interested
                        in so many pursuits that it had to double itself. Because of Geminis' intrinsic duality, they're often falsely
                        misrepresented as two-faced. In reality, however, Gemini rarely has a hidden agenda. Playful and intellectually
                        curious, Gemini is constantly juggling a variety of passions, hobbies, careers, and friend groups. They are the
                        social butterflies of the zodiac: These quick-witted twins can talk to anyone about anything. Find them buzzing
                        between happy hours, dinner parties, and dance floors.
                    </p>
                
                    <p>
                        Gemini season begins on May 21, a day that ushers in the heat and electricity of summer. Gemini is accordingly
                        excellent at guiding change and transformation. These curious twins are terrific pioneers, using their energy to
                        spearhead innovative creative projects. A fearless thinker, Gemini is always down to try something new. But
                        after they have shared their progressive vision with the world, it’s best to let these twins get back to
                        ideating: These hyperactive air signs have short attention spans and are most satisfied when they can move
                        fluidly from one idea to the next.
                    </p>
                
                    <p>
                        Both Gemini and Virgo are governed by Mercury, the messenger planet of communication. Despite sharing a
                        planetary ruler, however, these two signs are opposite in their approaches: Gemini expresses emotions
                        externally, whereas Virgo processes internally. Gemini is all about output, so these twins love to chat and
                        often speak with their hands (which happens to be the body part associated with Gemini). Communication is
                        paramount for them, and they require fluent streams of transmission.
                    </p>
                    <p>
                        They love texting and tweeting almost as much as they love talking IRL. In fact, the act of expression is often
                        even more important to loquacious Gemini than what is actually being said — and they must remember to be
                        thoughtful with their words. Another incredible Gemini quality, however, is that these natural chameleons can
                        quickly recover from even the most shameful foot-in-mouth moments. Gemini moves too fast to care about
                        embarrassing missteps: They simply move on.
                    </p>
                
                </div>
            </div>
        {% endblock %}