{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
<div class="main">
    <br>
    <h2 style="text-align: center;">Leo</h2>
    <img src="{% static 'zodiacsing/imagen/leo1.jpeg' %}" width="100%" alt="leo-imagen">
    <div>
        <p>
            Roll out the red carpet, because Leo has arrived. Leo is represented by the lion, and these spirited fire
            signs are the kings and queens of the celestial jungle. They’re delighted to embrace their royal status:
            Vivacious, theatrical, and passionate, Leos love to bask in the spotlight and celebrate themselves. These
            lions are natural leaders and they enjoy cultivating friendships and romances that are artistically and
            creatively inspired. Playful Leos have no problem leaning into drama-fueled romances that are perfectly
            suited for the tabloids. (In fact, they may even prefer them.) After all, every Leo perceives him or herself
            as a celebrity. These astrological divas never get tired of lavish dinners, exclusive parties, or decadent
            designer wear.
        </p>

        <p>
            Leo is ruled by the sun, the dazzling celestial body that governs life and vitality. The sun never goes
            retrograde, and likewise, Leos are renowned for their stability, loyalty, and consistency. They are
            dedicated friends and lovers who put their hearts into every relationship. (Fittingly, the Leo sign governs
            the heart.) Lions love to watch their mates succeed — until they feel threatened. They can become impaired
            by their ego, pride, and jealousy when they start to fear their star power will be eclipsed. It’s important
            for celestial lions to remember that their light is never obscured by others, and the bright shine of
            others' success does nothing to their own. Ultimately, Leos' own hubris is the greatest threat to their
            happiness.
        </p>

        <p>
            This fixed sign is known for its ambition and determination, but above all, Leos are celebrated for their
            remarkable bravery. In tarot, Leo is represented by the “strength” card, which depicts the divine expression
            of physical, mental, and emotional fortitude. Fearless optimists who refuse to accept failure, Leos will
            find their deep wells of courage grow as they mature.
        </p>

    </div>
</div>
{% endblock %}