{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Libra</h2>
                <img src="{% static 'zodiacsing/imagen/libra.jpeg' %}" width="100%" alt="libra-imagen">
                <div>
                    <p>
                        Libra is an air sign represented by the scales (interestingly, the only inanimate object of the
                        zodiac), an association that reflects Libra's fixation on balance and harmony. Libra is obsessed
                        with symmetry and strives to create equilibrium in all areas of life. These air signs are the
                        aesthetes of the zodiac: Ruled by Venus, the planet that governs love, beauty, and money, Libras
                        adore high art, intellectualism, and connoisseurship. Suave Libras need to surround themselves
                        with stunning objects and create environments that reflect their exquisite tastes. Accordingly,
                        these air signs make excellent designers, decorators, art critics, and stylists.
                    </p>

                    <p>
                        While Libra's opposite sign, Aries, represents "me," Libra symbolizes "we." Relationships are
                        paramount for Libras, who find balance in companionship. They love harmonious partnerships with
                        fashionable mates, especially those who make attractive arm candy. (Libra governs the skin, and
                        these air signs are highly motivated by physical appearance. There's no better way for a Libra
                        to relax than with a luxurious face mask.)
                    </p>

                    <p>
                        Libras, when they are regularly coupled, must be careful about seeking attention outside the
                        agreed-upon boundaries of their relationship. Since they try to keep everyone happy and engaged,
                        they may find themselves tempted to push the limits of their agreements with their partners.
                        People-pleasing Libras must remember that the happiness of their loved ones and the health of
                        their relationships is more important than maintaining the attention of distant admirers.
                    </p>
                    <p>
                        Libra is a cardinal sign, which means Libras are accordingly great at launching new initiatives.
                        However, because Libras consider multiple perspectives in all pursuits, these air signs struggle
                        with indecision. Instead of constantly seeking outside perspectives, Libras would do well to
                        develop (and trust) their own intuition. Their characteristic ambivalence aside, Libras can
                        navigate virtually any social situation, effortlessly resolving conflicts by simply turning on
                        the charm.
                    </p>

                </div>
            </div>
            {% endblock %}