{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Pisces</h2>
                <img src="{% static 'zodiacsing/imagen/pisces.jpeg' %}" width="100%" alt="pisces-imagen">
                <div>
                    <p>
                        Pisces, a water sign, is the last constellation of the zodiac. It's symbolized by two fish
                        swimming in opposite directions, representing the constant division of Pisces's attention
                        between fantasy and reality. As the final sign, Pisces has absorbed every lesson — the joys and
                        the pains, the hopes and the fears — learned by all of the other signs. This makes these fish
                        the most psychic, empathetic, and compassionate creatures of the astrological wheel. With such
                        immense sensitivity, Pisces can easily become swallowed by emotions and must remember to stay
                        grounded in the material realm (appropriately, Pisces rules the feet).
                    </p>

                    <p>
                        Pisces is ruled by Neptune, the celestial body that governs creativity and dreams, and these
                        ethereal fish adore exploring their boundless imaginations. In its more nefarious form, however,
                        Neptune also oversees illusion and escapism. Neptunian energy is like the energy of the ocean:
                        magical, mysterious, and often scary. When the fog is thick on the water, the horizon is
                        obstructed and there is no differentiation between the sea and the sky.
                    </p>

                    <p>
                        Those with this sun sign must be wary of mirages: These impressionable fish prefer wearing
                        rose-colored glasses to addressing problems, which can earn Pisces a reputation for being flaky
                        or delusional. This water sign should remember that problems can't be solved by swimming away.
                        Willful ignorance never makes conflict disappear: It only gives it the chance to grow.
                    </p>
                    <p>
                        A mutable sign, Pisces effortlessly adapts to their surroundings. These visionary fish have
                        unparalleled access to the collective unconscious through their clairvoyance and make incredible
                        artists and creatives. Kind and gentle, they're invigorated by shared experiences of music and
                        romance. Any relationship with mystical Pisces is guaranteed to involve deep spiritual
                        exploration.
                    </p>

                </div>
            </div>
          {% endblock %}