{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Sagittarius</h2>
                <img src="{% static 'zodiacsing/imagen/sagittarius2.jpeg' %}" width="100%" alt="sagittarius2-imagen">
                <div>
                    <p>
                        Represented by the archer, Sagittarians are always on a quest for knowledge. The last fire sign
                        of the zodiac, Sagittarius launches its many pursuits like blazing arrows, chasing after
                        geographical, intellectual, and spiritual adventures. Fueled by wanderlust, these archers can be
                        found traversing all corners of the world on thrill-seeking expeditions.
                    </p>

                    <p>
                        It's no surprise that Jupiter, the planet of abundance, spirituality, and growth, governs
                        Sagittarius. With so many journeys under their belt, Sagittarians are excellent storytellers and
                        can light up any room with their exhilarating tales and infectious laughter. Effortlessly
                        magnetic, Sags easily attract friends and lovers with their sense of humor. They're the
                        comedians of the zodiac and infuse all of their conversations with wit and no bullshit
                        bluntness. While their bon mots are unmatched, Sags must remember to keep their sharp tongues in
                        check. Though they know a lot, they don’t know everything — and if they're not careful, they can
                        come off as pretentious or arrogant.
                    </p>

                    <p>
                        Sagittarius is a mutable sign, meaning it is associated with adaptability and flexibility. This
                        perfectly reflects the archers’ deep-rooted desire for change. Sagittarians are born to explore
                        and it is critical that these archers have the freedom to roam. (Sagittarius rules the thighs,
                        so these archers are always on the move.) Romantically, Sagittarians seek a copilot: These
                        adventurous lovers resent any boundaries, so constant motion is essential in any Sag
                        relationship. If you are lucky enough to link up with one of these archers, be sure to buckle up
                        and have your passport ready. With Sagittarius, it’s always a wild ride.
                    </p>

                </div>
            </div>
            {% endblock %}