{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Scorpio</h2>
                <img src="{% static 'zodiacsing/imagen/scorpio.jpeg' %}" width="100%" alt="scorpio-imagen">
                <div>
                    <p>
                        Scorpio is one of the most misunderstood signs of the zodiac. Because of its incredible passion
                        and power, Scorpio is often mistaken for a fire sign. In fact, Scorpio is a water sign that
                        derives its strength from the psychic, emotional realm. Like fellow water signs, Cancer and
                        Pisces, Scorpio is extremely clairvoyant and intuitive.
                    </p>

                    <p>
                        What makes this water sign unique is its distinctive venomous sting. Like their celestial spirit
                        animal, the scorpion, Scorpios lie in wait and strike when least expected. Life is a game of
                        chess for these calculating water signs, who are constantly plotting several steps ahead in
                        order to orchestrate an eventual checkmate. This doesn't mean their intentions are necessarily
                        nefarious. Scorpios simply know what they want and aren't afraid to work hard and play the long
                        game to get it.
                    </p>

                    <p>
                        They never show their cards and their enigmatic nature is what makes them so seductive and
                        beguiling. Scorpio is the sign most closely associated with sex: The part of the body that
                        Scorpio governs is the genital area. Sex isn't solely about pleasure for these sensual
                        scorpions. They also crave the physical closeness, spiritual illumination, and emotional
                        intimacy sex can provide.
                    </p>
                    <p>
                        Scorpio is ruled by Pluto, the planet that governs both destruction and transformation. On a
                        good day, Scorpion energy is ambitious and enticing. On a bad day, however, the shadowy side of
                        Scorpio is fueled by a relentless desire for control. Power-hungry Scorpios must remember that
                        if controlled by their egos, they are at risk of poisoning themselves. This sign is at its best
                        when that intrinsic intensity is applied to deep, soulful connections with friends and lovers.
                        When they build trust with others, Scorpios demonstrate unparalleled empathy, depth, and
                        commitment that brighten even the darkest parts of Scorpio’s magical psyche.
                    </p>

                </div>
            </div>
            {% endblock %}