{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
            <div class="main">
                <br>
                <h2 style="text-align: center;">Taurus</h2>
                <img src="{% static 'zodiacsing/imagen/taurus.jpeg' %}" width="100%" alt="taurus-imagen">
                <div>
                    <p>
                        Taurus is an earth sign represented by the bull. Like their celestial spirit animal, Taureans
                        enjoy relaxing in serene, bucolic environments, surrounded by soft sounds, soothing aromas, and
                        succulent flavors. Taurus is ruled by Venus, the enchanting planet that governs love, beauty,
                        and money. Taurus’s Venusian influence make this earth sign the most sensual of the zodiac:
                        These cosmic oxen are enchanted by any physical manifestation of comfort and luxury. Pleasure is
                        a necessity for epicurean Taureans and they feel most content when pampered. (Taurus governs the
                        neck, so neck caresses are especially irresistible to these bulls.)
                    </p>

                    <p>
                        It's true that in their perfect world, Taureans would spend all day bathing in a tub overflowing
                        with essential oils. At the same time, these earth signs know the value of a dollar. Taureans
                        aren’t afraid to roll up their sleeves and work hard to earn big rewards. They're ambitious,
                        focused, and resilient and they feel most secure when steadily putting money into a savings
                        account.
                    </p>

                    <p>
                        Cosmic oxen are all about return on investment (the bull is also the symbol of Wall Street), and
                        Taureans know how to play the long game in both professional and romantic pursuits. Security is
                        paramount for Taureans and any threat to their stability will be sure to have a celestial bull
                        seeing red.
                    </p>
                    <p>
                        As a sign, Taurus is fixed, an astrological quality that reflects Taurus’s steadfast, loyal
                        nature. Fixed signs are excellent at maintaining systems and Taureans prioritize consistency and
                        reliability in all areas of their lives. It must be noted, however, that Taurus does have a bit
                        of a reputation: What a Taurus perceives as dedication is often regarded by others as
                        stubbornness. Accordingly, these bulls may end up lingering in unhealthy situations — whether
                        relationships, jobs, or homes — longer than necessary just to prove a point. Despite their
                        occasional obstinance, however, Taureans are dependable partners, soothing their friends and
                        lovers with their trustworthiness and devotion.
                    </p>

                </div>
            </div>
{% endblock %}