{% extends "zodiacsing/base.html" %}
{% load static %}
{% block body %}
<div class="main">
    <br>
    <h2 style="text-align: center;">Virgo</h2>
    <img src="{% static 'zodiacsing/imagen/virgo.jpeg' %}" width="100%" alt="virgo-imagen">
    <div>
        <p>
            Virgo is an earth sign historically represented by the goddess of wheat and agriculture, an association that
            speaks to Virgo’s deep-rooted presence in the material world. Virgos are logical, practical, and systematic
            in their approach to life. This earth sign is a perfectionist at heart and isn’t afraid to improve skills
            through diligent and consistent practice. Virgo rules the digestive system, which makes these earth signs
            especially attuned to the ingredients that make up a whole — in food and in everything else. They're
            hyper-aware of every detail.
        </p>

        <p>
            Virgo is governed by Mercury, the messenger planet of communication. Though Mercury also rules Gemini, these
            two signs are radically different: Gemini is about output and expression, whereas Virgo is about input and
            processing. A Virgo deals with information like a computer, transforming even the most jumbled set of
            information into organized, clear concepts. Though Virgos long to be meticulous in all pursuits, they must
            remember that constantly chasing after the ideal can be destructive when applied to self or others. Beauty
            exists within our imperfections and it’s important for Virgos to learn that flaws are not defects.
        </p>

        <p>
            Above all else, Virgos want to help. They are kind, gentle, and supportive friends and lovers who use their
            incredible intellect and resourcefulness to problem-solve. Virgo's opposite sign, Pisces, offers guidance
            through spirituality, but Virgos want to assist on a practical level. These earth signs are always striving
            to provide workable solutions and improve broken systems. Methodical, committed, and hardworking, they make
            excellent teachers, healers, editors, and musicians.
        </p>

    </div>
</div>
{% endblock %}